/* about */

.about__wrapper {
  display: flex;
  gap: 80px;  
}

.about__info {
  display: flex;
  flex-direction: column;
  flex: 0 1 500px;  
}

.about__text {
  font-size: 20px;
  line-height: 1.4em;
  margin-bottom: 60px;  
}

.about__p:not(:last-child) {
  margin-bottom: 1.8em;
}

/* quote */

.quote__text { 
  font-size: 44px;  
  text-transform: uppercase;
  max-width: 450px;
  white-space: pre-line;
  margin-bottom: 40px;
}

.quote__text::before {
  content:"“ ";
  color: hsla(288,96%,27%,1);
  font-weight: 900;
}

.quote__text::after {
  content:" ”";
  color: hsla(288,96%,27%,1);
  font-weight: 900;
}

.quote__span {
  padding-left: 36.69px;
}

.quote__author {    
  font-size: 20px;
  line-height: 1.4em;
  max-width: 380px;
  margin-left: auto;
  margin-right: 0;
}

.quote__author::before {
  content: "";
  display: block;
  height: 80px;
  width: 80px;
  background-image: url(../images/characters/duck.jpeg);
  background-position: -70px -5px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;  
}

.quote__source {
  font-style: inherit;
}