/* booking */

.booking {
  background-color: hsla(288,67%,19%,1);
}

.booking__title {
  margin-bottom: 50px;
}

.booking__form-inner {
  margin-bottom: 40px;
}

.hall,
.services,
.service,
.data {
  border: none;
}

/* hall */

.hall {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 60px;
  padding: 0;
}

.hall__title,
.services__title,
.data__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 40px;
}

.hall__button {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  flex-basis: 250px;
  text-transform: uppercase
}

/* services */

.services {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  gap: 100px;
}

.service {
  display: flex;
  flex-direction: column;  
  gap: 22px;   
  margin-bottom: 60px;
}

.service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 24px;
}

.service__lable {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  line-height: 25px;  
}

.service-radio,
.service-checkbox {
  appearance: none;
  position: relative; /* чтобы прилипла кастомная галочка */
  margin-right: 12px;
  cursor: pointer;
}

.service-radio::before { /* белый фон */
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
}

.service-radio::after { /* черный круг */
  content: "";
  background-color: black;
  display: block;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 6.5px;
  top: 6px;
  border-radius: 50%;
  opacity: 0;
}

.service-checkbox::before { /* белый фон */
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  background-color: hsl(0, 0%, 100%);
}

.service-checkbox::after { /* черный квадрат */
  content: "";
  background-color: black;
  display: block;
  height: 15px;
  width: 15px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  opacity: 0;
}

.service-radio:checked::after,
.service-checkbox:checked::after {
  opacity: 1;
}

.service-radio,
.service__lable {
  display: inline-block;
  vertical-align: middle;
}

/* data */

.data {
  padding: 0;
}

.data__input {
  height: 52px;
}

.data__flex-container {
  display: flex;
  flex-direction: column;  
  flex-wrap: wrap;
  padding: 0 100px;  
  max-height: 166px;
  justify-content: space-between;
  gap: 14px 50px;
}

.data__label {
  display: block;  
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
}

.data__input {
  width: 300px;
}

.data-name,
.data-surname {
  width: 280px;
  flex-shrink: 1;
}

.data__input_short {
  max-width: 134px;
}

.data__line {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  margin-bottom: 24px;
}

.data__seats {
  font-size: 30px;
}

/* outer */

.booking__form-outer {
  padding-right: 100px;
  text-align: end;
}

.booking__button {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: hsla(288,96%,27%,1);
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 10px;
  padding: 16px 50px;
  text-transform: uppercase;
}