/* booking */

.booking {
  background-color: hsla(288,67%,19%,1);
}

.booking__title {
  margin-bottom: 50px;
}

.booking__form-inner {
  margin-bottom: 40px;
}

.hall,
.services,
.service,
.data {
  border: none;
}

/* hall */

.hall {
  display: flex;  
  justify-content: space-between; 
  gap: 10px;
  margin-bottom: 60px;    
}

.hall__title,
.services__title,
.data__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 40px;
}

.hall__label {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  background-color: hsl(0, 0%, 100%);
  color: black;
  border: 3px solid transparent;
  border-radius: 8px;
  padding: 8px 15px;
  flex-basis: 250px;
  text-transform: uppercase;
  text-align: center; 
  /* white-space = white-space-collapse + text-wrap */  
  text-wrap: nowrap; /* запрет переноса */  

  transition-property: color, background-color, border-color;
  transition-duration: 1s;
}

/* services */

.services {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.service {
  display: flex;
  flex-direction: column;  
  gap: 22px;     
  padding: 0;
}

.service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 24px;
}

.service__lable {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  line-height: 25px;  
}

.service-radio,
.service-checkbox {
  appearance: none;
  position: relative; /* чтобы прилипла кастомная галочка */
  margin-right: 12px;
  cursor: pointer;
  border: 1px solid transparent;
}

.service-radio::before { /* белый фон */
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
}

.service-radio::after { /* черный круг */
  content: "";
  background-color: black;  
  display: block;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 6px;
  top: 6px;
  border-radius: 50%;
  opacity: 0;
}

.service-checkbox::before { /* белый фон */
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  background-color: hsl(0, 0%, 100%);
}

.service-checkbox::after { /* черный квадрат */
  content: "";
  background-color: black;
  display: block;
  height: 15px;
  width: 15px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  opacity: 0;
}

.service-radio:checked::after,
.service-checkbox:checked::after {
  opacity: 1;
}

.service-radio,
.service__lable {
  display: inline-block;
  vertical-align: middle;
}

/* data */

.data {  
  display: flex;    
  flex-wrap: wrap;    
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
  align-items: end;  
  row-gap: 14px;
  flex-basis: 300px;  
}

.data__block {
  flex-basis: 300px;  
}

.data__input {
  height: 52px;
  padding: 8px;
}

.data__label {
  display: block;  
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
}

.data__input {
  width: 100%;  
}

.data__block_basis_280px {
  flex-basis: 280px;  
}

.data__input_short {
  max-width: 134px;
}

.data__line {
  display: flex;
  gap: 32px;
}

.data__seats {
  font-size: 30px;
  
}

.data__input::placeholder {
  font-size: 18px;
}

/* outer */

.booking__form-outer {
  padding-right: 100px;
  text-align: end;
}

.booking__button {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: hsla(288,96%,27%,1);
  background-color: hsl(0, 0%, 100%);
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 16px 50px;
  text-transform: uppercase;

  transition-property: background-color, border-color;
  transition-duration: 1s;
}

/* states */

.hall__label:hover {
  background-color: hsla(288,29%,91%,1);
  border-color: hsla(275,88%,33%,1);
}

.hall__label:focus {  /* не работает */
  color: hsla(0,0%,1%,1);
  border-color: hsla(275,88%,33%,1);
}

.hall__label:active {
  color:hsl(0, 0%, 100%);
  background-color: hsla(288,96%,27%,1);
  border-color: hsl(0, 0%, 100%);
}

.hall__button:checked + .hall__label {  
  color:hsl(0, 0%, 100%);
  background-color: hsla(288,96%,27%,1);
  border-color: hsl(0, 0%, 100%);  
}



.booking__button:hover {
  background-color: hsla(288,29%,91%,1);
  border-color: hsl(288, 97%, 27%);
}

.booking__button:focus {
  border-color: hsl(288, 97%, 27%);
  outline: transparent;
}

.booking__button:active {
  background-color: hsl(288, 29%, 90%);
  border-color: transparent;
}



.data__input:focus {
  border: 2px solid hsl(288, 100%, 51%);;
  outline: transparent;
}



.service-radio:focus {
  outline: 1px solid rgb(205, 6, 255);    
}


.service-checkbox:focus {
  outline: 1px solid rgb(205, 6, 255);
}