.contacts {
  position: relative;
}

.contacts::before { /* градиент */
  content: "";
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(hsla(300,1%,11%,1), hsla(300,69%,13%,1));
  display: block;
  width: 100%;
  /* (contacts - padding-top) + footer */
  height: calc((464px - 50px) + 142px);
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.info__line {
  display: flex;  
  align-items: center;
  gap: 30px;
}

.info__line_adress {
  margin-bottom: 40px;
}

.info__text_white-space_pre-line {
  white-space: pre-line;
}

.info__line_tel {
  margin-bottom: 15px;
}

.info__line_email {
  margin-bottom: 35px;
}

.socials {
  display: flex;
  gap: 28px;  
}

.socials__link { /* цвет всех иконок соцсетей (наследуется, можно удалить) */
  display: block;
  color: var(--main-color);
  outline: 1px solid transparent;

  transition-property: color, outline;
  transition-duration: 1s, .5s;
}

/* states */

.socials__link:hover {  
  color: var(--grey);
}

.socials__link:focus {
  color: var(--grey);
  outline-color: var(--pink);
}

.socials__link:active {
  color: var(--pink);
}