.entertainment__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.entertainment__item {  
  flex-basis: 380px;
  height: 228px;
  /* для текста внутри */  
  display: flex;
  align-items: end;
  padding-left: 40px;
  padding-bottom: 6px;

  border: 2px solid transparent;  
  transition-property: transform, border-color;
  transition-duration: 1s, .6s;
}

.entertainment__item:nth-child(3n+2) { /* со 2-го каждый 3-й */
  transform: translateY(70px);
}


.vr {
  background-image: url(../images/secondary_images/vr.jpeg);
  background-repeat: no-repeat;
  object-fit: cover;
}

.audio {
  background-image: url(../images/secondary_images/audio.jpg);
  background-repeat: no-repeat;
  object-fit: cover;  
}

.karaoke {
  background-image: url(../images/secondary_images/micro.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
}

.table-games {
  background-image: url(../images/secondary_images/game.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
}

.movie-services {
  background-image: url(../images/secondary_images/netflix.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
}

.ps5 {
  background-image: url(../images/secondary_images/sony.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
}

.entertainment__text {  
  max-width: 300px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  white-space: pre-line;
}

/* states */

.entertainment__item:hover {
  transform: scale(1.1);
  border-color: red;
}

.entertainment__item:nth-child(3n+2):hover { /* со 2-го каждый 3-й */
  transform: scale(1.1) translateY(70px);
}