.faq__item {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;  
  line-height: 28px;
  padding: 30px 70px;
  margin-bottom: 20px;
  color: hsl(0, 4%, 11%);
  background-color: var(--main-color);
}

/* кресты наследуют цвета */
.faq__item:nth-of-type(even) {
  color: var(--main-color); 
  background-color: hsl(288, 69%, 19%);  
}

.faq__cross {  
  border-radius: 50%;

  transition-property: background-color, opacity;
  transition-duration: 1s;
}

/* states */
/* stroke - крест без круга,
если вызвать классом линии, то одна линия */

.faq__item:nth-of-type(odd):hover { 
  .faq__cross {
    background-color: var(--violet);
    stroke: var(--main-color);
  }
}

.faq__item:nth-of-type(even):hover { 
  .faq__cross {
    background-color: var(--main-color);
    stroke: var(--violet);
  }
}

.faq__item:nth-of-type(odd):active,
.faq__item:nth-of-type(even):active {
  .cross__vertical {
    opacity: 0; /* или stroke: transparent */     
  }
}