.faq__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 4%, 11%);
  font-size: 24px;
  font-weight: 700;  
  line-height: 28px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.faq__item:nth-of-type(even) {
  background-color: hsl(288, 69%, 19%);
  color: hsl(0, 0%, 100%); 
}

.faq__item::after {
  content:"";
  display: block;  
  cursor: pointer;
  background-image: url(../images/secondary_images/open-purple.svg);
  height: 45px;
  width: 45px;
  background-size: 45px;
  border-radius: 50%;
}

.faq__item:nth-of-type(even)::after {
  background-image: url(../images/secondary_images/open.svg);
}

