.faq__item {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;  
  line-height: 28px;
  padding: 30px 70px;
  margin-bottom: 20px;
  color: hsl(0, 4%, 11%);
  background-color: hsl(0, 0%, 100%);
}

/* кресты наследуют цвета */
.faq__item:nth-of-type(even) {
  color: hsl(0, 0%, 100%); 
  background-color: hsl(288, 69%, 19%);  
}

.faq__cross {  
  border-radius: 50%;
}

/* states */
/* stroke - крест без круга,
если вызвать классом линии, то одна линия */

.faq__item:nth-of-type(odd):hover { 
  .faq__cross {
    background-color: hsl(288, 97%, 27%);
    stroke: hsl(0, 0%, 100%);
  }
}

.faq__item:nth-of-type(even):hover { 
  .faq__cross {
    background-color: hsl(0, 0%, 100%);
    stroke: hsl(288, 97%, 27%);
  }
}

.faq__item:nth-of-type(odd):active,
.faq__item:nth-of-type(even):active {
  .cross__vertical {
    stroke: transparent;
  }
}