.present {  
  display: flow-root;  
  position: relative; /* для present__down */
}

.present__title {
  position: relative;
  font-size: 150px;
  font-weight: 900;
  letter-spacing:-0.1em;
  text-transform: uppercase;
  line-height: 1;
}

.present__title::after {
  content: ""; 
  
  float: right;
  position: relative;
  margin-top: -80px;

  display: block;  
  height: 762px;
  width: 675px;
  
  background-image: url(../images/primary_images/man-vr.png);
  background-repeat: no-repeat;  
}

.present__subtitle {  
  padding-left: 100px;
  font-size: 28px; 
  margin-bottom: 70px;
}

.advantages {
  display: flex;
  flex-direction: column-reverse; /* начинается снизу-слева, заканчивается справа-сверху */
  flex-wrap: wrap;  
  text-align: center;  
  max-height: 209px;
  margin-bottom: 150px;
}

.advantages__four {
  font-size: 100px;
  font-weight: 900;
  line-height: 141px;
  color: var(--pink);  
  max-width: 200px;
}

.advantages__halls {
  font-size: 30px;
  line-height: 34px;  
  max-width: 200px;

  order: -1;
}

.advantages__new {
  font-size: 75px;
  font-weight: 900;
  line-height: 106px;
  color: var(--pink);  
  max-width: 200px;

  order: 1;
}

.advantages__apparature {
  font-size: 30px;
  line-height: 34px;
  max-width: 200px;  
}

.present__button-link {
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  color: hsla(0,0%,101%,1);
  background-color: var(--violet);
  border-radius: 10px;
  border: transparent;
  padding: 25px 70px;  

  transition-property: background-color;
  transition-duration: 1s;
}

.present__down-link {
  display: block;
  position: absolute;
  width: 97px;
  height: 97px;  
  bottom: 135px;
  left: 46.75%;
  cursor: pointer;   
  outline: 1px solid transparent;

  transition-property: outline-color;
  transition-duration: .5s;
}

.present__down {
  border-radius: 50%;
  border: 1px solid var(--main-color); /* окантовка */
  background-color: transparent; /* фон */  
  stroke: var(--main-color); /* внешняя часть стрелки v */
  color: var(--main-color); /* внутренняя часть стрелки v */

  transition-property: background-color, border-color, color, stroke;
  transition-duration: 1s;
}

/* states */

.present__button-link:hover {
  background-color: hsla(288,88%,33%,1);
}

.present__button-link:focus {
  background-color: hsla(288,88%,33%,1);
  outline: transparent;
}

.present__button-link:active {
  background-color: hsla(275,88%,33%,1);  
}


/* т.к. в отличие от соц сетей здесь требуется заливка
background-color, приходится вкладывать классы */
.present__down-link:hover > .present__down { 
  stroke: var(--violet);  
  color: var(--violet);
  background-color: var(--main-color);  
}

/* на svg сфокусироваться нельзя, 
тут можно не вкладывать классы*/
.present__down-link:focus { 
  outline-color: var(--pink);  
}

.present__down-link:active > .present__down{
  background-color: var(--pink);
  border: var(--pink);  
  stroke: var(--main-color);
  color: var(--main-color);
}