.present {
  padding-top: 146px;
  display: flow-root;  
}

.present__title {
  position: relative;
  font-size: 150px;
  font-weight: 900;
  letter-spacing:-0.1em;
  text-transform: uppercase;
  line-height: 1;
}

.present__title::after {
  content: ""; 
  
  float: right;
  position: relative;
  margin-top: -80px;

  display: block;  
  height: 762px;
  width: 675px;
  
  background-image: url(../images/primary_images/man-vr.png);
  background-repeat: no-repeat;  
}

.present__subtitle {  
  padding-left: 100px;
  font-size: 28px; 
}