.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;  
}

.review__figure {
  margin-right: 20px;
}

.review__figure,
.review__text {
  display: inline-block;
  font-size: 20px;
  line-height: 1.4em;
  overflow-wrap: normal;      
}

.review__photo {  
  height: 280px;
  width: 280px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 11px;  
}

.review__filter {
  position: relative;  
}

.review__filter::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(hsla(0,0%,77%,0), hsla(288,96%,27%,0.5));
  border-radius: 50%;
}

.review__photo_photo-3 {
  object-position: right;  
}

.review__name {
  text-align: center;  
}

.review__text {
  max-width: 680px;
  vertical-align: top;
  padding-top: 52px;
}