.rooms__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* для маленьких экранов */
  gap: 20px;
}

.rooms__item {
  flex: 1 1 580px; /* grow shrink basis */  
  min-height: 349px; 

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* для маленьких экранов */

  border: 2px solid transparent;
  transition-property: transform, border-color;
  transition-duration: 1s, .6s;
}

.rooms__item_vibes {
  background-image: url(../images/primary_images/80s-vibes.jpeg);
}

.rooms__item_star-wars{
  background-image: url(../images/primary_images/star-wars.jpeg);
}

.rooms__item_wild-west{
  background-image: url(../images/primary_images/wild-west.jpeg);
}

.rooms__item_neon-style{
  background-image: url(../images/primary_images/neon-style.jpeg);
}

.rooms__link {  
  display: flex;  
  width: 100%;
  height: 100%;  
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.rooms__text {    
  max-width: 252px;  
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
}

/* states */

.rooms__item:hover {
  transform: scale(1.1);
  border-color: red;
}